.school-elegant{
	width: 970px;
	margin: 20px auto 25px;
}
.school-elegant li{
	height: 60px;
	width: 970px;
	background-color: #f6f6f6;
	margin-top: 5px;
	line-height: 60px;
	border-radius: 5px;
}
.school-elegant-pic{
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 10px;
	margin: 5px 20px 0 8px;
}
.school-elegant-pic img{
	width: 40px;
	height: 40px;
	display: block;
	margin: 5px 0 0 5px;
}
.school-elegant-txt{
	width: 700px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.school-elegant-time{
	margin-right: 50px;
}
